body {
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

.taskParent {
  background-color: white;
  border: 1px solid #00000020;
  padding: 1em 1em 2em 1em;
  margin-bottom: 1em;
}

.task.heading {
  margin-top: 0.1em;
  font-weight: 800;
}

.deleteBtn {
  background-color: #198754;
  color: white;
  border: none;
  font-weight: 500;
  padding: 0.6em 1.5em;
  border-radius: 0.4em;
}

